main {
	min-height: 100vh;
	max-width: 100vw;
}

.header {
	align-items: center;
	background-color: white;
	display: flex;
	height: 50px;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header img {
	height: 50%;
}

.content {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 50px;
	width: 100%;
}

.card {
	align-items: center;
	background-color: white;
	box-shadow: 3px 3px 3px rgb(51, 51, 51, 0.1);
	border-radius: 5px;
	cursor: default;
	display: grid;
	justify-content: center;
	grid-template-rows: 1fr 4fr;
	margin: 20px;
	min-height: 250px;
	transition: 200ms;
	width: 250px;
}

.card:hover {
	transform: scale(1.1);
	transition: 200ms ease-out;
}

.card-header {
	align-items: center;
	border-bottom: 1px solid #EBEBEB;
	display: flex;
	font-size: 1.2rem;
	padding: 10px 0;
	justify-content: center;
	width: 250px;
}

.card-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-weather {
	align-items: center;
	display: flex;
	height: 150px;
	justify-content: center;
	text-align: center;
}

.card-weather > p {
	align-items: flex-start;
	display: flex;
	font-size: 5rem;
	justify-content: center;
}


.degree {
	font-size: 2rem;
	padding-top: 15px;
}

.card-footer {
	align-items: center;
	background-color: rgb(241, 241, 241, .5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 0.7rem;
	padding: 10px 0;
	width: 250px;
}

.card-footer > p {
	color: #B4B4B4;
	padding-top: 5px;
}

.footer-content {
	color: #B4B4B4;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 50px;
	font-size: .8rem;
}

.footer-content p {
	align-items: center;
	display: flex;
	font-weight: 300;
	justify-content: center;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
}

.footer-content div {
	text-align: center;
	width: 100px;
}

.footer-content > div span:first-of-type {
	color: #737C84;
	font-size: 1.2rem;
}

.footer-content > div span:last-of-type {
	color: #737C84;
	font-size: .8rem;
	font-weight: 500;
}

.low {color: #69A3FF}

.medium {color: #FF9632}

.high {color: #ED1946}

.loading {
	margin: 70px;
	width: 100px;
}

.error {
	color: #ED1946;
	margin: 10px 0;
}

.btn-try {
	background: none;
	border: 2px solid #737C84;
	border-radius: 30px;
	cursor: pointer;
	color: #737C84;
	height: 30px;
	width: 100px;
}

.btn-try:hover {
	background: #FF9632;
	border: 2px solid #C27024;
	color: #EBEBEB;
	transition: 300ms;
}

@media only screen and (max-height: 720px) {
  main {
		height: 115vh;
	}
}